@charset "UTF-8";

@font-face {
    font-family:'morpheus' ;
    src: url('../fontes/MORPHEUS.TTF') format('truetype');
    font-weight: normal;
    font-family: 'cretino';
    src: url('fonte/Cretino.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#012340;
    --cor1:#024873;
    --cor2:#03658C;
    --cor3:#04BFBF;
    --cor4:#ADC5D9;
    --fonte-padrão: Arial, verdana, helvetica, sans-serif;
    --fonte-morpheus: 'morpheus', cursive; 
    --fonte-cretino: 'cretino', cursive;
}

body{
    background-image: url(imagens/Pastor\ sorrindo280.jpg);
    background-position: center top;
    background-size: 85vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: -25px;
    margin-left: -10px;
    margin-bottom: 0px;
}

main{
    margin-top: 158px;
    background-color: white;
    width: 90vh;
}

.top-nav { 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 50px; 
    padding: 25px; 
    margin-left: 0px;
}

.menu { 
    display: flex; 
    flex-direction: row; 
    list-style-type: none; 
    margin-left: 150px; 
    position: absolute; 
    top: 10px; 
    margin-top: 50px; 
    left: 0px; 
    flex-direction: column; 
    width: 40%; 
   
}

.menu > li { 
    overflow: hidden;
}

.menu-button-container { 
    display: none;
    cursor: pointer; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

#menu-toggle {
    display: none; 
}

.menu-button, .menu-button::before, .menu-button::after { 
    display: block; 
    background-color:white; 
    position: absolute; 
    height: 4px; 
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); 
    border-radius: 2px;
} 

.menu-button{
   margin-block-end: auto;
   margin-top: -20px;
}

.menu-button::before { 
    content: ''; 
    margin-top: -8px; 
}

.menu-button::after {
    content: ''; 
    margin-top: 8px; 
}

#menu-toggle:checked .menu-button-container .menu-button::before { 
    margin-top: 0px; 
    transform: rotate(405deg); 
}

#menu-toggle:checked .menu-button-container .menu-button::after { 
    margin-top: 0px; 
    transform: rotate(-405deg); 
}

@media (max-width: 700px){}

.menu-button-container {
    display: flex; 
}

#menu-toggle ~ .menu li { 
    height: 0px; 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); 
}

#menu-toggle:checked ~ .menu li { 
    border: 1px solid #333;
    width: 130px;
    height: 1em;
    margin-left: 55px; 
    padding: 0.7em; 
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); 
}

.menu > li { 
    display: flex; 
    justify-content: center; 
    margin: 0px; 
    padding: 0.5em 0px; 
    width: 100%; 
    color: white; 
    background-color: #222; 
}

.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}

img{
    margin-top: 30px;
    margin-left: -20px;
}

h2.minis{
    background-color: #04bfbfc0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-left: 60px;
    width: 150px;
    font-size: 1.8rem;
    max-width: 180px;
    margin-right: 10px;
}

h2{
    color: white;
    max-width: 250px;
    margin-left: 20px;
    margin-top: -40px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2#sete{
    background-color: #012340b7;
    margin-left: 20px;
    margin-top: -40px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2.igre{
    background-color: black;
    color: white;
    max-width: 220px;
    margin-left: 40px;
    margin-top: -30px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button.cultos{
    margin-left: 45px;
    margin-top: 5px;
    padding: 3px;
    width: 180px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background-color:#03658cb6;
}

div.nome{
    background-size: left top;
    max-width: 360px;
    margin-top: -15px;
}

a{
    text-decoration: none;
    color:var(--cor5);
    margin: 5px;
    transition-duration: 0.5s;
}

.logo>a:hover{
    background-color:rgba(255, 255, 255, 0.562);
    padding: 5px;
    border: 2px;
    border-color: var(--cor6);
    border-radius: 5px;
}

p{
    margin-bottom: 40px;
}

p.nom{
    font-family: var(--fonte-cretino);
    margin-top: -40px;
    margin-left: 150px;
    font-size: 1.3em;
}

div.texto{
    background-color: var(--cor5);
    text-align: center;
    margin-top: 50px;
}

main > h3{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    text-align: center;
    font-size: 1.3em;
    color:#024873;
}

main > p{
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    margin-top: -30px;
}

div.quadrado{
    align-items: center;
    display: inline-block;
    border: 2px solid black;
    border-radius: 7px;
    width: 450px;
    height: 275px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10vh;
    margin-right: 4.3vh;
}

button.quadrado{
    font-weight: bold;
    margin-top: -60px;
    margin-left: 5vh;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 110px;
    background-color: #03658cc7;
    color: white;
}

button.quadrado2{
    font-weight: bold;
    margin-top: -60px;
    margin-left: 5vh;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 110px;
    background-color: #03658cb4;
    color: white;

}

button.quadrado3{
    font-weight: bold;
    margin-top: 197px;
    margin-left: 5vh;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 110px;
    background-color: #03658ce0;
    color: white;
}

.qua{
    margin-top: 170px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 1em;
    font-family: var(--fonte-padrão);
    font-weight: bold;
    color: white;

}

.qua2{
    margin-top: 170px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--fonte-padrão);
    color: black;
}



div.quadrado#Q1{
    background-image: url(imagens/biblia.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

div.quadrado#Q2{
    background-image: url(imagens/voluntário-de-tecnologia-da-igreja.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

div.quadrado#Q3{
    background-image: url(imagens/oração.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

div.quadrado#Q4{
    background-image: url(imagens/louvor.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

div.quadrado#Q5{
    background-image: url(imagens/membros.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

div#Q5 > a{
    color: white;
    background-color: black;
}

div.quadrado#Q6{
    background-image: url(imagens/manutenção.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
div#Q6 > a{
    color: black;
    background-color: white;
}

.ende{
    background-color: var(--cor4);
    margin-top: 30px;
    text-align: center;
    width: 88vh;
    height: 380px;
    margin-bottom: 40px;
    padding-top: 20px;
    color: black;
}

.endep{
    font-size: 1.5em;
    font-family: var(--fonte-padrão);
    font-weight: bold;
    color: #03658C;
}